AWSTemplateFormatVersion: '2010-09-09'
Parameters:
  SNSEndpoint:
    Type: String
    Default: 0000000000
    Description: Phone number for SNS topic subscription
Resources:
  HbflSNSTopic:
    Type: AWS::SNS::Topic
    Properties:
      TopicName: hbfl-codepipeline
  HbflSNSSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      Protocol: sms
      Endpoint: !Ref SNSEndpoint
      TopicArn: !Ref HbflSNSTopic