AWSTemplateFormatVersion: '2010-09-09'
Resources:
  HbflEBApplication:
    Type: AWS::ElasticBeanstalk::Application
    Properties:
      ApplicationName: hbfl
  HbflEBEnvironment:
    Type: AWS::ElasticBeanstalk::Environment
    Properties:
      ApplicationName: !Ref HbflEBApplication
      EnvironmentName: prod
      SolutionStackName: 64bit Amazon Linux 2018.03 v4.13.0 running Node.js


      add instance profile